@import "tailwindcss";

@variant dark (.dark &);

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@layer utilities {
  .jump-on-hover {
    @apply transition-transform duration-300;
  }

  .jump-on-hover:hover {
    animation: jump 0.4s ease;
  }
}

:root {
  --background: #d3d9db;
  --foreground: #001c29;
  --card-background: #ffffff;
}

html.dark {
  --background: #001c29;
  --foreground: #d3d9db;
  --card-background: #0d2f3f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
