@import "tailwindcss";

:root {
  --background: #f1f1f1;
  --foreground: #282e33;
}

html.dark {
  --background: #282e33;
  --foreground: #F7F8F9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
